absl-py==0.11.0
altgraph==0.17
astroid==2.3.3
astunparse==1.6.3
certifi==2019.9.11
cftime==1.0.4.2
cycler==0.10.0
flatbuffers==1.12
future==0.18.2
gast==0.3.3
google-pasta==0.2.0
h5py==2.10.0
isort==4.3.21
joblib==0.16.0
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
matplotlib==3.1.1
mccabe==0.6.1
netCDF4==1.5.3
nidaqmx==0.5.7
numpy==1.17.3
opt-einsum==3.3.0
pandas==0.25.3
pefile==2019.4.18
PyDAQmx==1.4.3
PyInstaller==3.6
pylint==2.4.4
pyparsing==2.4.2
PyQt5==5.13.2
PyQt5-sip==12.7.0
pyqtgraph==0.11.1
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
scikit-learn==0.23.1
six==1.12.0
sktime==0.4.1
statsmodels==0.11.1
tensorboard==2.4.1
tensorflow==2.4.1
threadpoolctl==2.1.0
typed-ast==1.4.0
typing-extensions==3.7.4.3
wincertstore==0.2
wrapt==1.12.1
xarray==0.12.0
xlrd==1.2.0
